USE [PolyOElab3]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 2/4/2026 2:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[VideoId] [nvarchar](50) NULL,
	[LikeDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/4/2026 2:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Time] [datetime] NULL,
	[Username] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share]    Script Date: 2/4/2026 2:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[VideoId] [nvarchar](50) NULL,
	[Emails] [nvarchar](255) NULL,
	[ShareDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/4/2026 2:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Fullname] [nvarchar](100) NULL,
	[Admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 2/4/2026 2:15:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[Id] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Poster] [nvarchar](200) NULL,
	[Views] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([Id], [UserId], [VideoId], [LikeDate]) VALUES (1, N'admin', N'v1', CAST(N'2024-12-01' AS Date))
INSERT [dbo].[Favorite] ([Id], [UserId], [VideoId], [LikeDate]) VALUES (3, N'U01', N'V01', CAST(N'2025-01-10' AS Date))
INSERT [dbo].[Favorite] ([Id], [UserId], [VideoId], [LikeDate]) VALUES (4, N'U01', N'V02', CAST(N'2025-01-12' AS Date))
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [Url], [Time], [Username]) VALUES (1, N'/lab5/', CAST(N'2026-01-26T15:22:36.727' AS DateTime), NULL)
INSERT [dbo].[Logs] ([Id], [Url], [Time], [Username]) VALUES (2, N'/lab5/login', CAST(N'2026-01-26T15:22:42.840' AS DateTime), NULL)
INSERT [dbo].[Logs] ([Id], [Url], [Time], [Username]) VALUES (3, N'/lab5/login', CAST(N'2026-01-26T15:22:44.137' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Share] ON 

INSERT [dbo].[Share] ([Id], [UserId], [VideoId], [Emails], [ShareDate]) VALUES (4, N'admin', N'v01', N'a@gmail.com,b@gmail.com', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[Share] ([Id], [UserId], [VideoId], [Emails], [ShareDate]) VALUES (5, N'admin', N'v01', N'c@gmail.com', CAST(N'2024-01-05' AS Date))
INSERT [dbo].[Share] ([Id], [UserId], [VideoId], [Emails], [ShareDate]) VALUES (6, N'U01', N'v01', N'd@gmail.com', CAST(N'2024-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[Share] OFF
GO
INSERT [dbo].[Users] ([Id], [Password], [Email], [Fullname], [Admin]) VALUES (N'admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'admin@gmail.com', N'Admin3', 1)
INSERT [dbo].[Users] ([Id], [Password], [Email], [Fullname], [Admin]) VALUES (N'U01', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'luan@gmail.com', N'Admin3', 0)
INSERT [dbo].[Users] ([Id], [Password], [Email], [Fullname], [Admin]) VALUES (N'U02', N'admin123', N'admin02@gmail.com', N'Administrator', 1)
GO
INSERT [dbo].[Video] ([Id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'V01', N'Kén vợ tập 3', N'', 1000, N'Phim hài Việt Nam', 1)
INSERT [dbo].[Video] ([Id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'V02', N'Tiểu phẩm hài 1', N'poster1.jpg', 1200, N'Hài vui nhộn', 1)
INSERT [dbo].[Video] ([Id], [Title], [Poster], [Views], [Description], [Active]) VALUES (N'V03', N'Tiểu phẩm học đường', N'poster2.jpg', 850, N'Hài học sinh', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Favorite_User_Video]    Script Date: 2/4/2026 2:15:36 PM ******/
ALTER TABLE [dbo].[Favorite] ADD  CONSTRAINT [UQ_Favorite_User_Video] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534B178FAB7]    Script Date: 2/4/2026 2:15:36 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_User]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Video] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Video] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Video]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_User]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_Video] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Video] ([Id])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_Video]
GO
